---
import BaseLayout from "../layouts/BaseLayout.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import HeroNeuralField from "../components/HeroNeuralField.astro";
import UseCases from "../components/UseCases.astro";
import Capabilities from "../components/Capabilities.astro";
import Audience from "../components/Audience.astro";
import InternalCTA from "../components/InternalCTA.astro";
import Footer from "../components/Footer.astro";
---

<BaseLayout>
  <Nav />
  <main class="landing-main relative overflow-hidden" data-neural-root>
    <HeroNeuralField />
    <Hero />
    <UseCases />
    <Capabilities />
    <Audience />
    <InternalCTA />
  </main>
  <Footer />
</BaseLayout>
